/* color palette from <https://github.com/vuejs/theme> */
:root {
  --black: #000;
  --petrol-grey-1: #b3d1d6;
  --petrol-grey-2: #ecf4f5;
}

/* semantic variables for this project */
:root {
  --color-background: var(--petrol-grey-1);
  --color-text: var(--black);

  --section-gap: 8rem;
  --column-gap: 25px;
  --row-gap: 25px;

  --card-list-item-padding: 1rem;
  --card-list-item-border-radius: 4px;
  --card-list-item-color-background: var(--petrol-grey-2);
  --card-list-item-color-text: var(--black);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.4;
}
