@import './base.css';
@import './components/cards/cardListItem.css';
@import './components/cards/cardList.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: start;
  }

  #app {
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    padding: 2rem;
  }
}

.layout {
  display: grid;
  gap: var(--row-gap) var(--column-gap);

  grid-template-columns: repeat(4, 1fr);

  @media (min-width: 1024px) {
    grid-template-columns: repeat(12, 1fr);
  }

  > .component {
    grid-column: span 4;

    @media (min-width: 1024px) {
      grid-column: span 12;
    }

    &:not(.-wide) {
      @media (min-width: 1024px) {
        grid-column: 2 / span 10;
      }

      @media (min-width: 1200px) {
        grid-column: 3 / span 8;
      }
    }
  }
}